<!DOCTYPE html>
<html>
<head>
  <title>Team Intros</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4">
    <a class="navbar-brand" href="{{ url_for('home') }}">My Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
      </ul>
        </div>
    <a href="{{ url_for('teaminfo') }}" class="btn btn-outline-success my-2 my-sm-0">Team Info</a>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
      </ul>
      <a href="{{ url_for('new_post') }}" class="btn btn-outline-success my-2 my-sm-0">New Post</a>

    </div>
  </nav>

  <main role="main" class="container">

</head>
<body>

<h2>Welcome to our Team!</h2>
<p>
Check out our team members below:
</p>
<br>
<br>
<header>
  <u><h2>Members</h2></u>

</header>

<section>
  <nav>
    <ul>
      <li><a href="#owensenowitz">Owen Senowitz</a></li>
      <li><a href="#jameskinlaw">James Kinlaw</a></li>
      <li><a href="#abanoubsafwatalfyattalla">Abanoub Attalla </a></li>
    </ul>
  </nav>


</section>


</body>
      <br> <br> <br> <br> <br> <br> <br> <br> <br>
      <p id="owensenowitz"><h2>Owen Senowitz</h2></p>
<img src="https://www.owen-senowitz.com/static/media/profile.dabbd7eb23f767e8a45a.jpg" alt="alternatetext"style="width:300px;height:400px;">

    <p>I've spent the past 2022 summer working as a Software Engineer Intern for Lowes on the pricing team. I learned a ton of new information about Java, Springboot, Kafka, PostgreSQL, and Couchbase. During the school year at East Carolina University I'm a full time Computer Science student and a part time Assistant Software Engineer for the College of Nursing.</p>
<br><br>
      <p id="jameskinlaw"><h2>James Kinlaw</h2></p>
    <p>Hello, my name is James Kinlaw and i am a Professional Software Developer.I live in Surf City ,NC and am originally from Elizabethtown, NC. I major in Software Engineering at East Carolina University with a Minor in History.I chose Computer Science because it was essential to what society relies on every day and i wanted to be part of it.</p>
    <img src="https://pir8scallywag.github.io/updatedportfolio/Assets/images/A177BFD7-97B1-465C-B05D-B167621523F5.JPG" alt="alternatetext"style="width:300px;height:400px;">
<br><br><br>
      <p id="abanoubsafwatalfyattalla"><h2>Abanoub Safwat Alfy Attalla</h2></p>
      <img src="https://cdn11.bigcommerce.com/s-dnz77v25xu/images/stencil/1280x1280/products/1235/1924/636345000629__06077.1578086815.jpg?c=2" alt="alternatetext"style="width:300px;height:400px;">

  </main>
</body>
</html>

